h3 {
  color: fuchsia;
  text-transform: uppercase;
}

button {
  background-color: #212121;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}